<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="lightbdd" type="LightBDD.Configuration.LightBDDConfiguration, LightBDD" />
  </configSections>
  <lightbdd>
    <summaryWriters>
      <clear />
      <add formatter="LightBDD.Results.Formatters.PlainTextResultFormatter, LightBDD" output="Reports/FeaturesSummary.txt" />
      <add formatter="LightBDD.Results.Formatters.HtmlResultFormatter, LightBDD" output="Reports/FeaturesSummary.html" />
      <add formatter="LightBDD.Results.Formatters.XmlResultFormatter, LightBDD" output="Reports/FeaturesSummary.xml" />
    </summaryWriters>
    <stepTypes predefined=" call , invoke, exec " repeatedStepReplacement=" and also " />
  </lightbdd>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>